<p>TEST INDEX</p>





<%= link_to "Take Test", take_test_tests_path %>
<% @tests.each do |i| %>

  <div class="testcard">

   <li> <%= i.id %> </li>
   <%= link_to "More", test_path(i) %>
  <%= link_to "Delete", test_path(i), method: :delete %>

  </div>



<% end %>

<br>

<%= link_to tests_path do%>
  <button class="btn btn-primary"> To All Tests </button>
<% end %>

